table {
    width:80%;
    text-align: center;
    height:40px;
    
}
th{
    background-color:rgb(96, 20, 167);
    height:30px;
}
tr{
    background: rgb(197, 162, 230);

}
td{
    height:30px;
}

tr:hover{
    background-color: rgb(200, 175, 240);
}
.btn{
    margin-left:10%;
    margin-bottom: 10px;
    margin-top: 10px;
    height:30px;
    width:120px;
}
.Submit{
    height:30px;
    width:120px;
    margin: 15px 0px 0px 0px ;   
}
a{
    text-decoration: none;
    color:black;
}
input{
    display:flex;
    height:30px;
    width:90%;
    font-size:22px;
    margin:15px;
    border-radius: 5px;
}
.Edit{
    height: 25px;
    width:60px;
    margin-right: 10px;
}
.Delete{
    height: 25px;
    width:60px;   
}
button{
    background: rgb(94, 94, 117);
}
button:hover{
    background: rgb(87, 80, 130);
}
.updateInputs{
    height: 18px;
    border:none;

}